body {
    font-family: Lato, 'sans-serif';
}

.h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.textarea {
    height: 500px;
    resize: vertical;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.output {
    border: 1px solid #9c9b9b;
    display: block;
    width: 40%;
}

.output-ul {
    list-style: none;
}

.output-item {
    margin: 7px 0;
}